<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <p>
    <%= message.user.first_name %>
  </p>
  <div class="message-content">
    <p>
      <%= message.content %>
    </p>
  </div>
</div>
