// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$pink: #FC458F;
$blue: #38CBFF;
$yay: #FF0066;
$nay: #00C8FF;
$yellow: #FFFA2D;
$orange: #E67E22;
$green: #9AFF2D;
$gray: #000000;
$light-gray: #F4F4F4;
