// Define variables for your color scheme

// For example:
$white:#FFFFFF;
$red: #EE5F5B;
$pink: #FC458F;
$light-blue: #B3EFFF;
$blue: #00C8FF;
$yellow: #FFFA2D;
$orange: #E67E22;
$green: #9AFF2D;
$gray: #000000;
$mid-gray: #657786;
$light-gray: #F4F4F4;
$transparent20: rgba(250, 250, 250, 0.2);
$transparent50: rgba(250, 250, 250, 0.5);
$transparent80: rgba(250, 250, 250, 0.8);

