// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Cardo|Montserrat:400,700" rel="stylesheet");


// Define fonts for body and headers
$body-font: "Cardo", "Helvetica", "sans-serif";
$headers-font: "Montserrat", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 17px;
}
