.full-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.full-page-scrollable{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.index-poll-page{
  height: 100%;
  width: 100%;
}

