.full-page {
  height: 100vh;
}

.wrapper-blue {
  height: 100vh;
  background-color: #00C8FF;
}

.insert-image {
  text-align: center;
}

.insert-image h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.insert-image label {
  display: block;
}

.submit-photo {
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  color: #00C8FF;
}

.context-zone {
  padding: 5px;
}

.submit-new-poll {
  background-color: #00C8FF;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 40px;
  margin: 0 20px;
}
.links i {
  color: white;
}

.take-picture {
  padding-top: 25vh;
}

.take-picture img {
  width: 160px;
  margin-top: 25px;
}
