.full-page {
  height: 100vh;
}

.wrapper-blue {
  height: 100vh;
  background-color: #00C8FF;
}

.submit-photo {
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  color: #00C8FF;
}

.context-zone {
  padding: 5px;
}

.submit-new-poll {
  background-color: #00C8FF;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 40px;
  margin: 0 20px;
}
.links i {
  color: white;
}

#background-new-poll {
  padding-top: 20vh;
}





