
.yay-barre-count{
  width: 55px;
  margin: 0px 15px;
  position: absolute;
  top: -5px;
  right: -80px;
  color: #FF0066;
}

.nay-barre-count{
  width: 55px;
  margin: 0px 15px;
  position: absolute;
  top: 4px;
  right: -80px;
  color: #00C8FF;
}


#yay {
  color: #FF0066;
}

#nay {
  color: #00C8FF;
}
