.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20vh;
  position: relative;
  border-bottom: solid $blue 2px;
  margin: 20px 20px;
}

.profile-avatar{
  width: 20vh;
  border-radius: 20px;
  flex-grow: 0;
  margin: 2px;
  margin-bottom: 20px;
}

.profile-child  {
  flex-grow: 1;
  padding-left: 25px;
}

.profile-child h1{
  font-size: 18px;
}

.profile-child h3{
  font-size: 12px;
  color: gray;
}

.profile-settings {
  font-size: 30px;
  opacity: 50%;
  flex-grow: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  ul {
    list-style: none;
  }
}

.profile-figures{
  line-height: 4px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  height: 70px;
  &-child{
    height: 25px;
  }
}



