.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 17vh;
  position: relative;
  margin: 1vh;
  h1 {
    margin-top: 2vh;
    color: white;
  }
  h2 {
    color: white;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 17px;
  }
  h3, h4 {
    margin: 2px 4px;
    padding: 0px 4px;
    color: white;
  }
}

.profile-avatar{
  width: 15vh;
  border-radius: 50px;
  flex-grow: 0;
  margin-bottom: 10px;
  object-fit: cover;
}

.profile-child  {
  flex-grow: 1;
  padding-left: 2vh;
}

.profile-child h1{
  font-weight: bold;
}

.profile-child h4{
  color: gray;
}

.profile-settings {
  font-size: 30px;
  flex-grow: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  ul {
    list-style: none;
  }
  i {
    opacity: 990%;
  }
}

.profile-figures{
  line-height: 4px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin: 2px;
  padding: 2px;
  &-child{
    height: 10px;
  }
}

.profile-title{
  line-height: 15px;
  color: rgba(0, 0, 0, 0.9);
  font-style: bold;
  position: absolute;
  top: 21px;
}

.dropdown-size{
  font-size: 35px;
}



