.logo {
  width: 54vh;
}

.sign-in {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  p {
    padding: 1vh 0vh;
  }
  ul {
    list-style-type: none;
    text-align: center;
    padding: 0px 10vh;
    padding-bottom: 1vh;
  }
  li {
    margin: 4vh 0vh;
  }
}

.sign-in a {
  padding: 2vh;
  background-color: #FF0066;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  border: 3px solid white;
  position: absolute;
  top: 280%;
  right: 12%;
}

#sign-in-animation{
  color: white;
  background-color: $blue;
  border: 0px;
  padding: 1vh;
  position: absolute;
  top: 120%;
  right: 16%;
  margin-left: 55px;
}

.smiley {
  width: 10vh;
}

/* Animation JS */

.text-js{
  opacity: 10;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

// Footer

// .footer {
//   background: #F4F4F4;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 60px;
//   padding: 0px 50px;
//   color: rgba(0,0,0,0.3);
// }
// .footer-links {
//   display: flex;
//   align-items: center;
// }
// .footer-links a {
//   color: black;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   opacity: 1;
//   color: $pink;
// }
// .footer .fa-heart {
//   color: #D23333;
// }
