<% content_for(:body_class, "full-page") %>

<div class="container">
  <div class="row">
    <% @polls.each do |poll| %>
      <div class="poll">
        <%= render "poll", poll: poll  %>
      </div>
      <div class="poll-info">
        <%= render "poll_info", poll: poll  %>
      </div>
    <% end %>
  </div>
</div>
<% if @polls.empty? %>
  <div class="container text-center">
    <%= render "no_poll" %>
  </div>
<%end%>

 <% content_for(:after_js) do %>
   <script>
     $(function(){
       $(".poll-info").hide();
       var $pollShow = false;
         $('.poll').on('touchstart', function(event){
           console.log("Click");
           if ($pollShow == false) {
             $(".poll-info").show();
             $pollShow = true;
           } else {
             $(".poll-info").hide();
             $pollShow = false;
           }
         });
       });
   </script>
 <% end %>
