.background-message {
  text-align: center;
}

.background-message h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.background-message label {
  display: block;
}

.background-picture {
  padding-top: 30vh;
}

.background-picture img {
  width: 160px;
  margin-top: 25px;
}
