%button-nav {
  position: absolute;
  top: 10px;
  font-size: 40px;
  color: white;
  z-index: 1000;
}

%button-nav:hover {
  color: $yellow;
  text-decoration: none;
}

.button-nav-right {
  @extend %button-nav;
  right: 15px;
}

.button-nav-left {
  @extend %button-nav;
  left: 15px;
}
