%button-nav {
  position: absolute;
  top: 10px;
  font-size: 40px;
  color: white;
  z-index: 1000;
}

%button-nav:hover {
  color: $yellow;
  text-decoration: none;
}

.button-nav-right {
  @extend %button-nav;
  right: 15px;
}

.button-nav-left {
  @extend %button-nav;
  left: 15px;
}

.opacity-dropdown {
  opacity: 0.5;
  color: $blue;
}

.dropdown-size{
  font-size: 25px;
}

.profile-settings {
  flex-grow: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  ul {
    list-style: none;
  }
  i {
    opacity: 99%;
  }
}
