.collection-check-boxes {
  display: flex;
  flex: 0 0 30%;
  flex-wrap: wrap;

  input, .checked  {
    display: none;
  }
  label {
    cursor: pointer;
  }
  .check-box {
    background: $blue;
    border-radius: 3px;
    padding: 6px 10px;
    color: white;
    margin: 5px;
    font-weight: normal;
    font-size: 18px;
    width: 50vh;

  }

  input:checked + .check-box .checked {
    display: inline;
  }
  input:checked + .check-box .unchecked {
    display: none;
  }
  input:checked + .check-box {
    background: $blue;
    color: white;
    font-size: 18px;
    border: 2px solid $red;
  }
}

.check-box-title{
  background-color: $red;
  color: white;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 34px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.btn-block{
  color: white;
  background-color: $red;
}

.hidden {
    display: none;
}
