.poll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 600ms ease;
  overflow: hidden;
  background: $pink;

  &.animate-yay {
    transform: rotate(10deg) translateX(200%);
  }

  &.animate-nay {
    transform: rotate(-10deg) translateX(-200%);
  }
}

.poll-photo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.poll-text {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.poll-button {
  position: absolute;
  right: 5%;
  bottom: 4%;
}

.poll-anonym {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
}

.poll_photo-info {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.poll-button-yay {
  position: absolute;
  right: 5%;
  bottom: 4%;
  img{
    width: 80px;
  }
}

.poll-button-nay {
  position: absolute;
  left: 5%;
  bottom: 4%;
  font-size: 30px;
   img{
    width: 80px;
  }
}

#poll_context {
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 5px;
}

.poll_context_info{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.poll-info{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 50%;
  position: absolute;
  transition: transform 800ms ease;
  &.hide-info {
    transform: translatey(100%);
  }
  &.show-info {
    transform: translatey(-100%);
  }
}

.yay-barre{
  margin-bottom: 40px;
  height: 20px;
  border: 1px solid, rgba(0,0,0,0.2);
  background: #FF0066;
  position: relative;
}

.nay-barre{
  height: 20px;
  border: 1px solid, rgba(0,0,0,0.2);
  background: #00C8FF;
  position: relative;
}

.poll-author{
  margin-top: 50px;
}


.poll-yn {
  width: 55px;
  margin: 0px 15px;
  position: absolute;
  top: -34px;
  right: -83px;
}

.poll-ny {
  width: 55px;
  margin: 0px 15px;
  position: absolute;
  top: -28px;
  right: -80px;
}

.poll-profile-informations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4A4A4A;
  border-bottom: solid $blue 2px;
  margin: 20px 20px;
  position: relative;
}

.poll-yn-profile-picture{
  width: 45px;
  position: absolute;
  left: 170px;
}

.poll-answers {
  margin-left: 20px;
  margin-right: 92px;
  margin-top: 70px;
  margin-bottom: 60px;
  p {
    padding-top: 10px;
    opacity: 0.5;
    font-style: italic;
  }
}

.min-photo-poll {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  height: 20vh;
  margin-top: -15px;
  position: relative;
  top: 14px;
}

a.poll-button-yay > img:active {
    transition: transform ease 200ms;
    transform: scale(1.2);
}

a.poll-button-nay > img:active {
    transition: transform ease 200ms;
    transform: scale(1.2);
}
