.poll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 600ms ease;
  overflow: hidden;
  background: $pink;

  &.animate-yay {
    transform: rotate(10deg) translateX(200%);
  }

  &.animate-nay {
    transform: rotate(-10deg) translateX(-200%);
  }
}

.poll-photo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.poll-text {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}

.poll-button {
  position: absolute;
  bottom: 3vh;
  right: 3vh;
}


.poll-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 10px;
   width: 100%;
}

.poll_photo-info {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.poll-button-yay {
  img {
    width: 80px;
  }
}

.poll-button-nay {
  font-size: 30px;
   img {
    width: 80px;
  }
}

.poll-button-favourite {
  font-size: 30px;
  img {
    width: 50px;
    background-color: $transparent50;
    border-radius: 50px;
    padding: 5px;
  }
}

#poll_context {
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 5px;
}

.poll_context_info{
  background-color: $transparent20;
  color: white;
  font-size: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.poll-info{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 50%;
  position: absolute;
  transition: transform 800ms ease;
  &.hide-info {
    transform: translatey(100%);
  }
  &.show-info {
    transform: translatey(-100%);
  }
}

.poll-author {
  margin-top: 10px;
  img {
    margin-right: 2vh;
  }
}

.poll-target img {
  margin-right: 2vh;
}

.poll-smiley {
  width: 10vh;
  margin: 0px 2vh;
  top: 10vh;
}

a.poll-button-yay > img:active {
    transition: transform ease 200ms;
    transform: scale(1.5);
}

a.poll-button-nay > img:active {
    transition: transform ease 200ms;
    transform: scale(1.5);
}

a.poll-button-favourite > img:active {
    transition: transform ease 200ms;
    transform: scale(1.5);
}

.poll-anonym {
  position: absolute;
  top: 10px;
  right: 15px;
  input {
    display: none;
  }
  img {
    width: 12vh;
    position: absolute;
    right: 0vh;
    top: 1vh;
  }
}
