.min-photo-poll {
  border-radius: 10px 0px 0px 10px;
  height: 120px;
  width: 90px;
  position: relative;
  object-fit: cover;
  border-right: 1px solid $blue;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.poll-background {
  background-color: $light-gray;
}

.poll-timer{
  border-radius: 0px 10px 10px 0px;
  color: white;
  font-weight: bold;
  height: 120px;
  width: 70px;
  background: $light-blue;
  .text-center {
    opacity: 0.9;
    margin: 10px;
  }
}

.poll-profile-informations {
  width: 97%;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.poll-results {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 0px 0px;
}

.poll-answers {
  margin: 2px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.flex-child {
  flex-shrink: 1;
  margin: 3px;
  h4 {
    color: $blue;
    font-weight: bold;
    opacity: 0.8;
  }
}
