.profile-container {
  display: flex;
  background-color: white;
  border: 1px solid #ececec;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  flex-direction: row;
  justify-content: space-between;
  height: 17vh;
  position: relative;
  margin: 1vh;
  h1 {
    margin-top: 2vh;
    color: $mid-gray;
  }
  h2 {
    font-size: 23px;
    color: $mid-gray;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 6px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 15px;
  }
  h3, h4 {
    margin: 2px 4px;
    padding: 0px 4px;
    color: $mid-gray;
  }
}

.profile-avatar{
  width: 15vh;
  border-radius: 50px;
  flex-grow: 0;
  margin-bottom: 14px;
  object-fit: cover;
}

.profile-figures{
  line-height: 4px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  margin: 2px;
  padding: 2px;
  &-child{
    height: 10px;
  }
}

.profile-child  {
  flex-grow: 1;
  padding-left: 1vh;
}

.profile-child {
  h1, h3 {
  font-weight: bold;
  }
}
