.flex-child {
  flex-shrink: 0;
  margin: 3px;
}

.min-photo-poll {
  border-radius: 5px;
  height: 140px;
  width: 90px;
  position: relative;
  object-fit: cover;
  padding: 3px;
}

.anonym {
  padding-bottom: 55px;
}

.poll-timer{
  margin: 2px;
  color: white;
  .text-center {
    opacity: 0.8;
  }
}

.rappel-context {
  font-size: 13px;
  color: $mid-gray;
  margin-top: 2px;
  font-style: italic;
  height: 20px;
  p {
    margin: 0px;
    color: $blue;
  }
}

.poll-profile-informations {
  width: 97%;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: white;
  border: 1px solid #ececec;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.poll-results {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 20px 0px;
  h4 {
    color: $blue;
    font-weight: bold;
    opacity: 0.8;
  }
}

.poll-answers {
  margin: 2px;
  height: 130px;
  flex-direction: column;
  display: flex;
  position: relative;
}
