.poll-profile-informations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid $blue 2px;
  position: relative;
  background-color: $transparent20;
  border-top: 1px solid $transparent50;
}

.poll-results {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 20px 0px;
  h4 {
    color: white;
    font-weight: bold;
    opacity: 0.8;
  }
}

.poll-answers {
  margin: 2px;
  height: 130px;
  flex-direction: column;
  display: flex;
  position: relative;
}

.rappel-context {
  font-size: 13px;
  color: $mid-gray;
  margin-top: 2px;
  font-style: italic;
  height: 20px;
  p {
    margin: 0px;
    color: white
  }
}

.poll-timer{
  margin: 2px;
  color: white;
  .text-center {
    opacity: 0.8;
  }
}

.anonym {
  padding-bottom: 55px;
}

.min-photo-poll {
  border-radius: 5px;
  height: 140px;
  width: 90px;
  position: relative;
  object-fit: cover;
  padding: 3px;
}

.poll-background {
  background-color: $blue;
}

.flex-child {
  flex-shrink: 0;
  margin: 3px;
}

