.white-body {
  background-color: white;
}

.profile {
  background: linear-gradient(0deg, #00E6FF, $blue);
  height: 17vh;
  color: white;
  h1 {
    font-size: 3vh;
    margin: 0;
    margin-top: 3vh;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  h2 {
    margin: 0;
    font-size: 3vh;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  p {
    margin: 0;
    font-size: 15px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.profile-count {
  display: flex;
  align-items: space-between;
  text-align: center;
  margin-top: 1vh;
}

.profile-picture {
  margin-top: 1vh;
}

.profile-avatar {
  height: 12vh;
  width: 12vh;
  margin: 2px;
  border-radius: 50px;
  flex-grow: 0;
  object-fit: cover;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  border: 3px solid white;
}

.yays {
  margin-right: 2vh;
}

.reponses {
  margin-right: 2vh;
}

.groupes {
  margin-right: 2vh;
}

.profile-btn {
  margin-top: 1vh;
}






