.min-photo-poll {
  height: 18vh;
  width: 13vh;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.border-blue {
  border-bottom: 2px solid $blue;
  margin: 6% 5%;
}

.context-anonyme {
  display: flex;
  margin-left: 4%;
}

.smileys-yn {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  img {
    height: 8vh;
  }
}

.nay-smiley {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  background-color: rgba(0, 200, 255, 0.1);
  border-radius: 15px;
  padding-right: 12%;
  p {
    color: $blue;
    margin-right: 14%;
    font-size: 25px;
  }
}

.yay-smiley {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  background-color: rgba(255, 0, 102, 0.1);
  border-radius: 15px;
  padding-right: 12%;
  p {
    color: $pink;
    margin-right: 14%;
    font-size: 25px;

  }
}

.profile-context {
  padding: 1% 5%;
  border-radius: 10px;
  background: linear-gradient(0deg, #00E6FF, $blue);
  p {
    margin: 0;
    color: white;
    font-size: 15px;
  }
  margin-right: 4%;
}

.poll-timer {
  color: #B06842;
}
