.tabs {
  display: flex;
  margin-top: -20px;
}

.tabs a {
  color: white;
  padding: 5px;
  border-bottom-color: $blue;
}

.tabs a:hover {
  opacity: 0.5;
  cursor: pointer;
  text-decoration: none;
}

.tabs h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}

.tab {
  flex: 0 0 25%;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
}


.nav-tabs > li.active > a {
  color: white;
  border-color: $blue;
  transition: transform ease 200ms;
  transform: scale(1.1) ;
}

.nav-tabs > li > a {
  color: white;
  opacity: 0.8;
  border-bottom: 3px solid $pink;
}

.nav > li > a {
  padding: 5px;
}
