// Override bootstrap
.tabs {
  a {
    color: $mid-gray;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: $mid-gray;
    font-weight: bold;
    text-decoration: underline;
  }
}

#nav-home-tab {
  margin-right: 5%;
  margin-left: 1%;
}

.nav-tabs {
  border-bottom: none;
  margin: 4% 0px;
}

